<%= render 'layouts/navigation' %>
<div class="div-academy-page">
<img class="academy-hero" src="https://res.cloudinary.com/inddev/image/upload/v1540895313/merino-acad-logo-1920.jpg" class="img-fluid" alt="Responsive image">

<div class="card-group">
	<div class="card" style="width: 18rem;">
  		<img class="card-img-top" src="https://res.cloudinary.com/inddev/image/upload/v1540892380/learn-img.jpg" alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Learn with Merino</h5>
    		<p class="card-text">Come enter the magical world of wood and wood panel products.</p>
    <a href="#" class="btn btn-primary">OPEN</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://res.cloudinary.com/inddev/image/upload/v1540893140/get-certified.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Get Certified!</h5>
    <p class="card-text">What is knowledge when it is not remembered?</p>
    <a href="#" class="btn btn-primary">OPEN</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://res.cloudinary.com/inddev/image/upload/v1540893840/goals-img.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Goal Tracking</h5>
    <p class="card-text">Keep a track of your progress</p>
    <a href="#" class="btn btn-primary">OPEN</a>
  </div>
</div>
</div>


<div class="grid-row reverse video-gallery">
 <input type="radio" value="1" name="video-list" id="video-1" checked="checked" /><label for="video-1">HPL 101: Introduction</label>
 <input type="radio" value="2" name="video-list" id="video-2" /><label for="video-2">HPL 101: Design Section</label>
 <input type="radio" value="3" name="video-list" id="video-3" /><label for="video-3">HPL 101: Technical Section</label>
 <input type="radio" value="4" name="video-list" id="video-4" /><label for="video-4">FR+ Laminates</label>
 <input type="radio" value="5" name="video-list" id="video-5" /><label for="video-5">Chem+ Laminates</label>
 
 <!-- videos -->
 <div class="video video-1">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ROqDTIxRX0Y" frameborder="0" allowfullscreen></iframe>
 </div>

 <div class="video video-2">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9iGoDNlKY-g" frameborder="0" allowfullscreen></iframe>
 </div>

 <div class="video video-3">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/l70UhhNalqA" frameborder="0" allowfullscreen></iframe>
 </div>

 <div class="video video-4">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/XDrB5c4-c9Y" frameborder="0" allowfullscreen></iframe>
 </div>

 <div class="video video-5">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/UXP307MGQzs" frameborder="0" allowfullscreen></iframe>
 </div>

 <div class="video video-6">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0kY0Q5hdjDI" frameborder="0" allowfullscreen></iframe>
 </div>
 <!-- videos -->
</div>

</div>